.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  font-size: 18px;
  margin: 92px 50px 96px;
  height: 105px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 41px;
  text-underline-offset: 4px;
  /* height: 105px; */
  gap: 33px;
  text-transform: lowercase;
  list-style-type: circle;
}

.header__links-list-item:first-child {
  list-style-type: none;
}


.header__logo-image {
  width: 148px;
  height: 105px;
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header__address {
  margin-top: -4px;
  line-height: 24px;
  margin-left: 186px;
  margin-right: 20px;
  text-underline-offset: 4px;
  
  list-style-type: none;
  font-style: normal;

}

.cover {
  height: 757px;
  position: relative;
  background: url("/images/cover.jpg");
  background-size: cover;
  /* padding: 100px 200px; */
  /* min-height: 700px; */
  background-position: center;
}

