.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  font-size: 18px;
  margin: 92px 50px 96px;
  height: 105px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 41px;
  text-underline-offset: 4px;
  /* height: 105px; */
  gap: 33px;
  /* text-transform: lowercase; */
  list-style-type: circle;
}

.header__links-list-item:first-child {
  list-style-type: none;
}


.header__logo-image {
  width: 148px;
  height: 105px;
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header__address {
  margin-top: -4px;
  line-height: 24px;
  margin-left: 186px;
  margin-right: 20px;
  text-underline-offset: 4px;
  
  list-style-type: none;
  font-style: normal;

}

.cover {
  min-height: 757px;
  position: relative;
  background: url("/images/cover.jpg");
  background-size: cover;
  color: white;
  text-transform: uppercase;
  background-position: center;
  z-index: 2;
}

.overlay {
  position: absolute;
  width: 1100px;
  height: 757px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.cover__title {
  font-size: 100px;
}

.aligned-text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
  line-height: 1.35em;
}

.aligned-text_left {
  text-align: left;
  padding-left: 50px;
  padding-top: 155px;
}

.aligned-text_center {
  text-align: center;
  padding-left: 30px;
}

.aligned-text_right {
  text-align: right;
  padding-right: 20px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  padding: 109px 50px 0px 50px;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 18.5px;
}

.bet-button {
  color: white;
  background-color: transparent;
  font-size: 23px;
  border: 1px solid white;
  font-family: Raleway, sans-serif;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-top: -13px;
  padding: 10px 35px 12px 35px;
}